{% extends "base.html" %}
{% block content %}

<div style="text-align:center;">
<font size="4">
ファイルを選択して送信してください
</font>
<hr>

<form action = "./" method = "POST" enctype = "multipart/form-data">
    <input type="file" name="image" accept="image/png, image/jpeg">
    <input type = "submit"/>
</form>
</div>

{% if err_message %}
<hr>
<center><font size="6" color=red><b>{{ err_message }}</b></font></center>
<hr>
{% endif %}

{% if result %}
<hr>
<center>
<img src="./images/{{ filepath }}" style="margin-top: 10px; vertical-align: bottom; width: 300px"><br>
<hr>
<font size="4"><b>予測結果: {{ result }}</b></font><br>
<font size="3">
File: {{ filepath }}<br>
<!-- Prediction: {{ prediction }}-->
</font>
</center>
<hr>

{% endif %}

{% endblock %}